{{ $colorScheme := default "light" .Site.Params.header.colorScheme }}

<header class="blog-header">
    <nav class="navbar navbar-expand-md navbar-{{ $colorScheme }}">
        <div class="container">
            <a class="navbar-brand" href="{{ .Site.BaseURL | relLangURL }}">
                {{ partial "brand" . }}
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse " id="navbarNav">
                <ul class="navbar-nav ml-auto">
                    {{ $url := .RelPermalink | relLangURL }}
                    {{ range .Site.Menus.main }}
                    <li class="nav-item">
                        {{ if eq (hasPrefix .URL "mailto:") true }}
                            <a class="nav-link" href="{{ .URL }}">{{ .Name }}</a>
                        {{ else }}
                            {{ $menuUrl := .URL | relLangURL }}
                            <a class="nav-link {{ if eq $url $menuUrl }}active{{end}}" href="{{ $menuUrl }}">{{ .Name }}</a>
                        {{ end }}
                    </li>
                    {{ end }}
                </ul>
            </div>
        </div>
    </nav>
    {{ if .IsHome }} 
    <div class="social">
        <i class="fab fa-soundcloud"></i>
        <i class="fab fa-spotify"></i>
        <i class="fab fa-deezer"></i>
        <i class="fab fa-apple"></i>
        <i class="fab fa-napster"></i>
        <i class="fab fa-instagram"></i>
        <i class="fab fa-facebook"></i>
    </div>
    
    {{ end }}
</header>
